body *{
    display: flex;
    font-size: 30px;
}

header, section, aside, main, footer{
    border: 1px solid #000;
}

header{
    height: 100px;
    margin-bottom: 5px;
    background-color: gray;
}

main{
    height: 75vh;
    background-color: bisque;
}

main aside{
    flex-grow: 1;
}

main section{
    flex-grow: 4;
}

footer{
    height: 100px;
    margin-top: 5px;
    background-color: blanchedalmond;
}

#navbar{
  flex-grow: 4.5;
}

#settings{
   flex-grow: 1;
}
